.header-wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    position: static;
    flex-direction: row;
    width: 75%;
}

.header, .header-logo, .header-navbar {
    display: flex;
    flex: 1;
}

.header-logo {
    margin-right: auto;
    height: auto;
    width: 50%;
}

.header-logo span {
    margin-left: 10px;
    align-self: center;
    font-weight: bolder;
    color: #BFCC58;
}

.header-navbar {
    width: 50%;
    align-items: center;
    justify-content: flex-end;
    /*font-size: 21px;*/
    font-weight: 600;
    /*line-height: 25px;*/
}

@media only screen and (max-width: 1920px) {

    .header-logo {
        height: 45px;
    }

}
