.header-wrapper {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    position: static;
    flex-direction: row;
    /*align-self: flex-start;*/
    width: 75%;
}

.header, .header-logo, .header-navbar {
    display: flex;
    flex: 1;
}

.header-logo {
    margin-right: auto;
    height: auto;
    width: 50%;
}

.header-logo span {
    margin-left: 10px;
    align-self: center;
    font-weight: bolder;
    line-height: 60px;
    font-size: 55px;
    color: #BFCC58;
}

.header-navbar {
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
