.Subscriptions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscriptions-count {
    width: 75%;
}

.subscriptions-count span {
    font-family: Inter sans-serif;
    font-weight: 600;
    color: rgba(70, 76, 84, 1);
}
